html {
    background-color: #06243b;
    font-size: 17px;
    font-family: Verdana, sans-serif;
}

u {
    text-decoration: underline;
    text-decoration-color: #ff3366;
}

a {
    font-weight: bold;
    color: #ff3366;
}


a:hover {
    color: #ffa5bd;
}

h4 {
    color: #ff3366;
}

img {
    margin: 20px 20px 20px 20px;
    border-radius: 200px;
    border: 15px solid #06243b;
    max-height: 40vh;
    max-width: 45vw;
    vertical-align: center;
}

#info-header {
    color: #F6F7F8;
    margin: auto 0 auto 0;
    text-align: left;
    min-width: 30vw;
}

#bio {
    margin: 100px 25px 10px 25px;
}

#bio > div {
    text-align: center;
}

#bio > div > p, #bio > div > h3 {
    text-align: left;
}

#bio-content > h3 {
    color: #ff3366;
}

#bio-content {
    background-color: #06243b;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}


.header-container {
    display: flex;
    margin: auto;
    background-color: #083454;
    border-radius: 10px;
}

#portfolio-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-container-content > p > b {
    color: #ff3366;
}

.portfolio-container-content {
    margin: auto;
    max-width: 40vw;
    background-color: #083454;
    padding: 10px;
    border-radius: 10px;
}

#flip-card-container {
    display: flex;
    margin: auto;
}

.flip-card {
    background-color: transparent;
    display: table;
    height: 22vh;
    min-width: 24vw;
    margin: 20px auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: table;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    color: #ff3366;
    display: table;
    background-color: #083454;
    border-radius: 10px;
}

.flip-card-content {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.flip-card-back {
    transform: rotateY(180deg);
    display: table;
    font-size: 17px;
    color: #F6F7F8;
    border-radius: 10px;
    background-color: #083454;
    text-align: left;
}

.flip-card-content > b {
    color: #ff3366;
}

.tabs {
    margin: auto;
    border-radius: 5px;
    background-color: #06243b;
}

.tabs-label {
    color: #ff3366;
}

.tabs-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
    padding: 0;
    position: relative;
    height: 17vh;
}

.tabs-tab {
    padding: 0.5rem;
    margin: auto;
}

.tabs-content {
    background-color: #06243b;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    color: #F6F7F8;
}

.tabs-input {
    position: fixed;
    top: -100px;
}

.tabs-input + label {
    cursor: pointer;
}

.tabs-input:checked + label {
    color: #F6F7F8;
    text-decoration: underline;
    text-decoration-color: #ff3366;
}

.tabs-input:checked ~ .tabs-content {
    display: block;
}


@media screen and (max-width: 1024px) {
    .header-container {
        flex-direction: column;
        min-width: 90vw;
    }

    #info-header, #bio {
        text-align: center;
        margin: auto;
    }

    #bio {
        margin: 10px
    }

    #bio-content {
        margin-bottom: 10px;
    }

    #flip-card-container {
        flex-direction: column;
        min-width: 90vw;
    }

    #portfolio-container {
        flex-direction: column;
    }

    .portfolio-container-content {
        padding: 10px;
        min-width: 90vw;
        margin-bottom: 10px;
    }

    ul {
        padding: 0;
    }

    .flip-card {
        height: 25vh;
        min-width: 90vw;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}